*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

.container{
    width: 300px;
    height: 350px;
    background-color: aqua;
 
    display: inline-block;
    
    position: relative;
}

.cuore{
position: absolute;
top: 0;
right: 0;

background-color: white;
height: 30px;
width: 30px;

line-height: 30px;
padding-left: 10px
}