*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 70%;
    margin-left: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    width: 100%;
    height: 100%;
}

.container{
    width: 300px;
    height: 350px;
    background-color: aqua;
 
    display: inline-block;
    
    position: relative;
}

.cuore{
position: absolute;
top: 0;
right: 0;

background-color: white;
height: 30px;
width: 30px;
margin-top: 10px;

line-height: 30px;
padding-left: 10px;
}

.sconti{
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: lightcoral;
    color: white;

    margin-bottom: 10px;
    display: inline-block;
}

.vestito{
    font-size: 18px;
    font-weight: bold;
}

.prezzo_attuale{
    color: red;
}


